.footer {
  background-color: #0a2850;
  position: relative;
}

.footer__circle {
  position: absolute;
  height: 340px;
  width: 340px;
  border-radius: 100%;
  background-color: #2f80ed;
  top: -120px;
  left: -44px;
  z-index: 1;
}

.footer__logo {
  position: relative;
  height: 39px;
  width: 105px;
  z-index: 2;
}

.footer__social-link {
  color: #ffffff;
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  text-align: right;
}

.footer__social-heading {
  margin: 0;
  color: #ffffff;
  font-family: "inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  padding-top: 108px;
  padding-left: 80px;
  padding-bottom: 60px;
  color: #ffffff;
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
