.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url("../images/background_header.svg");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
}

.ul {
  padding: 0;
}

.header__title {
  margin: 0;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedules {
  line-height: 0%;
  margin: auto;
  margin-bottom: 40px;
  margin-left: 80px;
}

.header__address {
  margin: auto;
  margin-right: 80px;
  margin-bottom: 40px;
}
.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
}

.recipes__title {
  margin: 0;
  padding-top: 100px;
  margin-left: 80px;
  max-width: 580px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 40px;
  padding-bottom: 215px;
  padding-top: 80px;
}

.recipes__videos-item {
  position: relative;
  overflow: hidden;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  margin: 0;
  margin-top: 24px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
}

.form__input {
  border-radius: 4px;
}

.form__button {
  background-color: #2f80ed;
  height: 60px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 385px;
  border-radius: 4px;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2xpx;
  background-image: url(../images/check.svg);
  height: 20px;
  width: 20px;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin: 0%;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__label {
  display: block;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 32px;
  height: 60px;
}

.form__label-checkbox {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
