@font-face {
  src: url("../fonts/Inter-Black.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-family: "Inter";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/NotoSerif-Italic.ttf") format("truetype");
  font-family: "NotoSerif";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("../fonts/NotoSerif-Regular.ttf") format("truetype");
  font-family: "NotoSerif";
  font-weight: 400;
}

.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
